
<!DOCTYPE html>
<html ng-app="BiofabParts">
	<head>
		<title>BIOFAB Parts</title>
      <script src="lib/angular/1.5.7/angular.min.js"></script>
		  <script src="lib/angular/1.5.7/angular-animate.min.js"></script>
    	<script src="lib/angular/1.5.7/angular-animate.min.js"></script>
    	<script src="lib/angular/1.5.7/angular-route.min.js"></script>
    	<script src="lib/angular/1.5.7/angular-aria.min.js"></script>
    	<script src="lib/angular/1.5.7/angular-messages.min.js"></script>
		
      <script src="lib/angular/material/1.0.9/angular-material.min.js"></script>
      <link rel="stylesheet" href="lib/angular/material/1.0.9/angular-material.min.css">
		
      <script src="lib/svg-assets-cache.js"></script>
      <script src="lib/ui-bootstrap-tpls-0.10.0.js"></script>
      <script src="lib/jquery-3.1.0.min.js"></script>
    	
      <script src="lib/biofab-parts/biofab-parts.js"></script>     
    	<link rel="stylesheet" href="lib/biofab-parts/biofab-parts.css">
	</head>
	<body layout="column">
		<md-toolbar style="background-color:#65021A;" >
			<div class="md-toolbar-tools" layout="row">
                <h2 flex="80"><span>BIOFAB Parts</span></h2>
				<p flex="20" class="version"><span>App Version 0.0.2</span></p>
            </div>
		</md-toolbar>
        <md-content ng-controller="AppController" layout="column" ng-cloak>
			    <md-tabs md-dynamic-height md-selected="selectedIndex" md-border-bottom md-autoselect>
            <md-tab label="All Libraries">
                <md-content class="md-padding">
                    <md-content class="sheet" layout="column">
                        <md-toolbar style="background-color:#65021A;" layout="row"> 
                          <div class="md-toolbar-tools" layout="row">
                            <div flex="50">
                                <p>Name</p>
                            </div>
                            <div flex="25">
                                <p>Version</p>
                            </div>
                            <div flex="25">
                                <p>Release Date</p>
                            </div>
                          </div>
                        </md-toolbar>
                        <md-list>
                          <md-list-item class="md-3-line" ng-repeat="library in libraries" ng-click="addTab(library)">
                              <div class="md-list-item-text" layout="row">
                                  <div flex="50">
                                      <p>{{ library.name }}</p>
                                  </div>
                                  <div flex="25">
                                      <p><b>{{ library.version }}</b></p>
                                  </div>
                                  <div flex="25">
                                      <p>{{ library.releaseDate }}</p>
                                  </div>
                              </div>
                          </md-list-item>
                        </md-list>
                    </md-content>
                </md-content>
            </md-tab>
            <md-tab ng-repeat="tab in tabs" label="{{ tab.library.name }}">
              <md-content class="md-padding">
                <md-content class="sheet">
                  <div class="sheet-content">
                    <h2>{{ tab.library.name }}</h2>
                    <p>{{ tab.library.description }}</p>
                  </div>    
                </md-content>
              </md-content>
            </md-tab>
      </md-tabs>
	  </md-content>
	</body>
</html>